ul{
    
    list-style-type: none;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        background-color: rgb(240, 24, 150);
        text-decoration: none;
    }
    li{
        float: left;
        padding: 14px 16px;
    }
    
    
    body{
        background-color: yellowgreen;
        
        }
        div{
        text-align: center;
        font-style: oblique;
        color: orangered;
        
        }
        hr{
            color: rgb(255, 0, 0);
        }
    .LL{
        color:black;
    height: 200px;
    width: 300px;
    border: 2px solid rgb(16, 52, 211);
    overflow: auto;
    margin: 5px;
    float: left;
    font-size:large;
    }
    .L{
        color: rgb(71, 32, 243);
    height: 200px;
    width: 300px;
    border: 2px solid rgb(236, 5, 25);
    overflow: auto;
    margin: 5px;
    float: left;
    font-size:large;
    float: right;
    }

    .class
    {
        width: 800px;
        height: 600px;
        text-align: center;
}
.RABBI{
    color: white;
    text-align: center;
    font-size: 80px;
    
}
.ll{
    height: 60px;
    width: 1400px;
    background-color: red;
    color: black;
    padding: 4px;
}